
#u1077_div.mouseOver.q {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
  background:inherit;
  background-color:rgba(187, 64, 64, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#797979;
}
#u1077.q.mouseOver {
}
#u1077_text.q {
}
#u1077 .text.q {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u1078.q {
}
#u1078_img.q {
}
#u1078.q {
}
#u1078_text.q {
}
#u1078 .text.q {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1079.q {
}
#u1079_img.q {
}
#u1079.q {
}
#u1079_text.q {
}
#u1079 .text.q {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1080.q {
}
#u1080_img.q {
}
#u1080.q {
}
#u1080_text.q {
}
#u1080 .text.q {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u1062_state0.q {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
